:root {
    --g1: #4E4E4F;
    --g2: #6E6F72;
    --g3: #E4E4EB;
    --g4: #F3F3F6;
    --b1: #2E3A59;
    --r1: #EC7669;
    --y1: #FDD855;
    --g1: #A4E09D;
    --g2: #EFFCF4;
}

header {
    background-color: var(--y1);
    padding-top: 10px;
}

header h1,
.profpic,
nav li {
    display: inline;
}

nav ul {
    padding-left: 5px;
}

.profpic {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.active {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.card img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.card h2 {
    display: inline;
    font-size: large;
}

.card h4 {
    text-align: center;
}

.card p {
    padding: 0 2em;
    margin: 0;
}

button {
    border-radius: 10px;
    border: none;
    background-color: var(--y1);
}

button:hover {
    cursor: pointer;
}

#newPostPopup button {
    background-color: white;
}

#saveBtn {
    float: right;
}

#repliesBtn {
    margin-left: 10px;
}

.liked {
    background-color: var(--g1);
    color: blue;
}

.hidden {
    display: none;
}

.newPost {
    width: 100%;
    position: fixed;
    bottom: 80px;
    background-color: var(--g3);
}

#newPostBtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newPostPopup {
    background-color: var(--y1);
    width: 70%;
    height: 50%;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#newPostPopup button {
    padding: 10px;
}

#closeBtn {
    float: right;
}

#postBtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding-bottom: 10px;
}

footer {
    width: 100%;
    background-color: var(--g3);
    position: fixed;
    bottom: 0;
    display: flex;
    place-items: center;
    /* does this work lol */
}

.navButton {
    display: inline-box;
    margin: 1em;
}

* {
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
}