.top {
    background-color: yellow;
}

.dates {
    overflow: auto;
    white-space: nowrap;
    padding: 1em;
}

.date {
    text-align: center;
    display: inline-block;
    padding: 0.25em;
}

.dateText {
    padding: 1em;
    border-radius: 100%;
    background-color: white;
}

/* global changes */

.center {
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}