:root {
--g1: #4E4E4F;
--g2: #6E6F72;
--g3: #E4E4EB;
--g4: #F3F3F6;

--b1: #2E3A59;
--r1: #EC7669;
--y1: #FDD855;

--g1: #A4E09D;
--g2: #EFFCF4;
}

.top {
    background-color: var(--y1);
}

.datesScroll {
    overflow: auto;
    white-space: nowrap;
}

.dayCactus {
    font-size: 18pt;
}

.date {
    text-align: center;
    display: inline-block;
    padding: 0.25em;
    font-size: 12pt;
}

.dateText {
    padding: 0.5em;
    border-radius: 1000px;
    background-color: white;
    text-align: center;
    font-size: 18pt;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.dateTextOver {
    background-color: var(--r1);
}

.dateTextUnder {
    background-color: var(--g1);
}

.dateTextActive {
    padding: 0.5em;
    border-radius: 1000px 1000px 0px 0px;
    background-color: white;
    text-align: center;
    font-size: 18pt;
    /* border: 0px; */
    aspect-ratio: 1 / 1;
    height: 100%;
    padding-bottom: 1em;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
  }

.logModalContent {
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 2em;
    background-color: var(--y1);
}

.closeButton {
    position: absolute;
    margin-top: -0.5em;
}

.drinkDisplay {
    background-color: white;
    padding: 0.5em;
    padding: 0.5em 3em 0.5em 3em;
    font-size: 18pt;
    border-radius: 100px;
}

.triggerDisplay {
    display: inline-block;
    background-color: var(--g3);
    border-radius: 1000px;
    padding: 0.25em 1em 0.25em 1em;
    margin-right: 0.5em;
}

.logDisplay {
    display: inline-flex;
}

/* components */

.trigger {
    background-color: white;
    margin: 0.175em;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 0.5em;
    display: inline-block;
}

.triggerActive {
    background-color: var(--b1);
    color: white;
}

.textButton {
    font-size: 48px;
    display: inline-block;
}

.logButton {
    background-color: var(--y1);
    border-radius: 1.5em;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 1em;
    margin-left: 1em;    
}

.bigButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
    text-align: center;
    font-size: 18pt;
    background-color: var(--y1);
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    place-items: center; /* does this work lol */
}

.navButton {
    display: inline-box;
    margin: 1em;
}

.reflection {
    display: none;
}

.normalButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
}

/* global changes */

.wb {
    background-color: white;
}

.yb {
    background-color: var(--y1);
}

.p-1 {
    height:1em;
}

.center {
    text-align: center;
}


* {
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
}

button {
    border: none;
}