:root {
    --w1: #F3F3F6;
    --w2: #E4E4EB;
    --w3: #6E6F72;
    --w4: #4E4E4F;
    --b1: #2E3A59;
    --r1: #EC7669;
    --y1: #FDD855;
    --g1: #A4E09D;
    --g2: #EFFCF4;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* ---------- */


/* components */


/* ---------- */


/* pop up modal */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */
}


/* bar: basic container; full: the backing; level: the width is the fullness */

.progressBar {
    margin: 0em 2em 0em 2em;
}

.progressFull {
    background-color: var(--g2);
    border-radius: 1000px;
    height: 1em;
}

.progressLevel {
    background-color: var(--b1);
    border-radius: 1000px;
    height: 1em;
    transition-duration: 300ms;
    /* width: 20%;  */
}

.trigger {
    background-color: white;
    margin: 0.1em;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 0.5em;
    display: inline-block;
}

.triggerActive {
    background-color: var(--b1);
    color: white;
}

.textButton {
    font-size: 48px;
    display: inline-block;
}

.logButton {
    background-color: var(--y1);
    border-radius: 0.5em;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 0.5em;
}

.bigButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
    text-align: center;
    font-size: 18pt;
    background-color: var(--y1);
}

.footer {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.footer2 {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-backing2 {
    padding: 0.5em;
    border-radius: 0.5em;
}

.button-backing {
    padding: 1em;
    border-radius: 1em;
}

.navButton {
    padding: 1em;
    border-radius: 1em;
    color: var(--w3);
}

.navButtonActive {
    background-color: var(--g2);
    color: var(--b1);
}

.reflection {
    display: none;
}

.normalButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
}

.textInput {
    padding: 1em;
    border-radius: 1em;
    border: 0;
    margin: 1em 2em 1em 2em;
    height: 5em;
}


/* for having 3 elements at the top (like icons, centered title) */

.titleBar {
    display: flex;
    align-items: center;
}

.left,
.right {
    flex: 1;
}


/* global changes */

.wb {
    background-color: white;
}

.yb {
    background-color: var(--y1);
}

.center {
    text-align: center;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

h3 {
    font-size: 18pt;
    font-weight: normal;
}

h4 {
    font-size: 12pt;
    font-weight: normal;
}

h5 {
    font-size: 12pt;
    font-weight: normal;
    color: var(--w4);
}


/* try to use the h0 things */

.font-small {
    font-size: 12pt;
}

* {
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
    transition-duration: 300ms;
}

.p-1 {
    height: 1em;
}

.p-2 {
    height: 2em;
}

.p-3 {
    height: 3em;
}

.p-4 {
    height: 4em;
}

.p-5 {
    height: 5em;
}

button {
    border: none;
}

.inactive {
    color: var(--w3);
}

.active {
    color: var(--b1)
}

.display {
    background-color: white;
    padding: 0.5em;
    width: 50%;
    font-size: 18pt;
    border-radius: 100px;
}