:root {
--w1: #F3F3F6;
--w2: #E4E4EB;
--w3: #6E6F72;
--w4: #4E4E4F;

--b1: #2E3A59;
--r1: #EC7669;
--y1: #FDD855;

--g1: #A4E09D;
--g2: #EFFCF4;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
  



.top {
    background-color: var(--y1);
}

.dailyGoal {
    margin: 0;
}

.datesScroll {
    /* overflow: auto; */
    overflow-y: hidden;
    white-space: nowrap;
    /* scrollbar-width: none; */
}

/*active these if you want it to not show scrollbar */
/* 
.datesScroll::-webkit-scrollbar {
    display: none;
  } 
*/



.dayCactus {
    font-size: 18pt;
}

.date {
    text-align: center;
    display: inline-block;
    padding: 0 0.25em 0.25em 0.25em;
    font-size: 12pt;
}

.dateText {
    padding: 0.5em;
    border-radius: 1000px;
    background-color: white;
    text-align: center;
    font-size: 18pt;
    width: 35px;
    height: 35px;
    /* background-color: var(--w2); */
    /* if we ever implement inactive days */
}

.dateTextOver {
    background-color: var(--r1);
}

.dateTextUnder {
    background-color: var(--g1);
}

.dateTextActive {
    padding-bottom: 1em;
    border-radius: 1000px 1000px 0px 0px;
    background-color: white;
    text-align: center;
    font-size: 18pt;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
  }

.logModalContent {
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 2em;
    background-color: var(--y1);
}

.drinkDisplay {
    background-color: white;
    padding: 0.5em;
    padding: 0.5em 3em 0.5em 3em;
    font-size: 18pt;
    border-radius: 100px;
}

.triggerDisplay {
    display: inline-block;
    background-color: var(--w2);
    border-radius: 1000px;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0.25em;
    font-size: 12pt;
}

.logDisplay {
    display: flex;
    justify-content: space-evenly;
}

.emotionActive{
    background-color: white;
    border-radius: 1000px;
    padding: 0.1em;
    font-size: 28pt;

}

.emotionInactive {
    /* background-color: white; */
    border-radius: 1000px;
    padding: 0.1em;
    font-size: 28pt;
}

.emotionSelector {
    margin: 1em;
}

.summaryCard {
    padding: 1em;
    border-radius: 2em;
    background-color: white;
    margin: 0em 2em 0em 2em;
}

.content {
    margin: 0 2em 0 2em;
}

#reflectionButton {
    z-index: 1;
}

/* ---------- */
/* components */
/* ---------- */


/* bar: basic container; full: the backing; level: the width is the fullness */
.progressBar {
    margin: 0em 2em 0em 2em;
}

.progressFull {
    background-color: var(--g2);
    border-radius: 1000px;
    height: 1em;
}

.progressLevel {
    background-color: var(--b1);
    border-radius: 1000px;
    height: 1em;
    transition-duration: 300ms;
    /* width: 20%;  */
}

.trigger {
    background-color: white;
    margin: 0.175em;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 0.5em;
    display: inline-block;
}

.triggerActive {
    background-color: var(--b1);
    color: white;
}

.textButton {
    font-size: 48px;
    display: inline-block;
}

.logButton {
    background-color: var(--y1);
    border-radius: 0.5em;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 0.5em;
}

.bigButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
    text-align: center;
    font-size: 18pt;
    background-color: var(--y1);
}

.footer {
    text-align:center;
    position:fixed;
    bottom: 0;
    display: flex;
    width:100%;
    justify-content: space-around;
}

.button-backing2 {
    padding: 0.5em;
    border-radius: 0.5em;
}

.button-backing {
    padding: 1em;
    border-radius: 1em;
}

.navButton {
    padding: 1em;
    border-radius: 1em;
    color: var(--w3);
}

.navButtonActive {
    background-color: var(--g2);
}

.reflection {
    display: none;
}

.normalButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1000px;
}

.textInput {
    padding: 1em;
    border-radius: 1em;
    border: 0;
    margin: 1em;
    width: 80%;
    height: 5em;
}

/* for having 3 elements at the top (like icons, centered title) */
.titleBar {
    display: flex;
    align-items: center;
}

.left, .right {
    flex: 1;
}

/* global changes */

.wb {
    background-color: white;
}

.yb {
    background-color: var(--y1);
}

.center {
    text-align: center;
}

.font-title {
    font-size: 28pt;
}

.font-bigger {
    font-size: 18pt;
    font-weight: bold;
}

.font-big {
    font-size: 18pt;
}

.font-med {
    font-size: 14pt;
}

.font-small {
    font-size: 12pt;
}

body {
    margin: 0;
}

* {
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
    transition-duration: 300ms;
}

.p-1 {
    height:1em;
}

.p-2 {
    height:2em;
}

.p-3 {
    height:3em;
}

.p-4 {
    height:4em;
}

.p-5 {
    height:5em;
}

button {
    border: none;
}

.inactive {
    color: var(--w3);
}

.active {
    color: var(--b1)
}