:root {
  --w0: #ffffff;
  --w1: #f3f3f6;
  --w2: #e4e4eb;
  --w3: #6e6f72;
  --w4: #4e4e4f;
  --b1: #2e3a59;
  --r1: #ec7669;
  --y1: #fdd855;
  --g1: #a4e09d;
  --g2: #effcf4;
}

/* TOP PARTS */

#datesScroll {
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;
}

.date {
  text-align: center;
  display: inline-block;
}

.date-active {
  color: black;
  background-color: white;
  transform: translatey(10px);
  border-radius: 1000px 1000px 0px 0px;
  transition-duration: 300ms;
}

/* PAGE CONTENT */

#content {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#logDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3f3f6;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
}

/* REFLECTION STYLING */

.emotion {
  cursor: pointer;
}

#emotionSelector {
  margin: 1em;
}

.emotionActive {
  background-color: white;
}

.emotionInactive {
  border-radius: 1000px;
  padding: 0.1em;
  font-size: 28pt;
}

.summaryCard {
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
}

.summaryCard:hover {
  background-color: var(--w1);
}

/* Blog Styling */

.blogImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  display: inline;
  font-size: 16px;
  color: var(--w4);
}

.floatright {
  float: right;
}

.card p {
  padding-left: 10px;
  margin: 0;
  white-space: pre-wrap;
}

.card {
  padding: 1rem;
  margin-top: 10px;
  background: var(--w1);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

/* Open article */

.top {
  display: flex;
  background-color: var(--y1);
  width: 100%;
  padding: 0.5em;
  align-items: center;
}

.hidden {
  display: none;
}

#blogPost {
  overflow: hidden;
}
