:root {
    --w1: #F3F3F6;
    --w2: #E4E4EB;
    --w3: #6E6F72;
    --w4: #4E4E4F;
    --b1: #2E3A59;
    --r1: #EC7669;
    --y1: #FDD855;
    --g1: #A4E09D;
    --g2: #EFFCF4;
}

header {
    background-color: var(--y1);
    padding: 20px;
    padding-bottom: 0px;
}

.right {
    float: right;
    margin-top: 0px;
}

header h1,
#profpic,
nav li {
    display: inline;
}

nav li {
    margin-right: 5px;
    margin-left: 5px;
}

nav ul {
    padding-left: 0;
}

.active {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

.hidden {
    display: none;
}

body {
    margin: 0;
}

#profpic {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

#supportPopUp {
    background-color: var(--y1);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

#supportPopUp h3,
#supportPopUp p {
    text-align: center;
}

#supportPopUp h3,
#supportPopUp span {
    display: inline;
}

h4 {
    text-align: center;
}

button {
    background-color: var(--y1);
    padding: 10px;
    border-radius: 10px;
}

#reasons {
    text-align: center;
}

.average {
    width: 80px;
    background-color: var(--w2);
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.inline {
    display: inline-block;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

li button {
    width: 100px;
    border-radius: 20px;
    height: 30px;
    padding: 3px;
    background-color: var(--w2);
}

.activeList {
    background-color: var(--b1);
    color: white;
}

.triggerActive {
    margin: 5px;
}

#averageDrinks {
    background-color: var(--g1);
}

#reflectPercent {
    background-color: var(--r1);
    color: white;
}