:root {
  --w1: #f3f3f6;
  --w2: #e4e4eb;
  --w3: #6e6f72;
  --w4: #4e4e4f;
  --b1: #2e3a59;
  --r1: #ec7669;
  --y1: #fdd855;
  --g1: #a4e09d;
  --g2: #effcf4;
}

header {
  background-color: var(--y1);
}

.right {
  float: right;
}

#supportPopUp h2,
#supportPopUp p {
  text-align: center;
}

ul {
  text-align: center;
}

li {
  display: inline;
}

.activeList {
  background-color: var(--b1);
  color: white;
}

.dateSelectorContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.centerAlign {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.good {
  background-color: var(--g1);
  color: black;
}

.average {
  background-color: var(--w2);
}

.bad {
  background-color: var(--r1);
  color: white;
}

/* Shared */

.modalContent {
  margin: auto;
  padding: 20px;
  padding-top: 0;
  width: 80%;
  border-radius: 2em;
  background-color: var(--y1);
}

/*  */

.dateBtnsActive {
  background-color: var(--b1);
  color: white;
}

#dateText {
  width: 200px;
}
