:root {
  --w1: #f3f3f6;
  --w2: #e4e4eb;
  --w3: #6e6f72;
  --w4: #4e4e4f;
  --b1: #2e3a59;
  --r1: #ec7669;
  --y1: #fdd855;
  --g1: #a4e09d;
  --g2: #effcf4;
}

/* Whole Page Things */

header {
  background-color: var(--y1);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Displays */

#limitDisplay {
  background-color: var(--w2);
}

.dayButton {
  border-radius: 1000px;
  width: 3em;
  height: 3em;
  background-color: var(--w2);
  color: var(--w4);
  margin: 0.25em;
}

.dayButtonActive {
  background-color: var(--b1);
  color: white;
}

/* Modal */

.info {
  background-color: var(--y1);
  border-radius: 1em;
  padding: 1em;
  margin: 0 2em 0 2em;
}

.hidden {
  display: none;
}

#modalBacking {
  position: fixed;
  z-index: 0;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
